.container {
	max-width: 1180px;
	margin: 0 auto;
}

.row {
	@include flex;
}

.column {
	@include flex($justify: flex-start, $direction: column);
}

.image-block {
	> img {
		width: 100%;
		height: 100%;
	}
}

.mx-auto {
	margin: 0 auto;
}

.text {
	&-center {
		text-align: center;
	}
	&-right {
		text-align: right;
	}
	&-uppercase {
		text-transform: uppercase;
	}
	&-capitalize {
		text-transform: capitalize;
	}
}

.big-title {
	font-family: 'PT Sans';
	font-weight: bold;
	@include font-props(62px, 130%, $red);
}

.section-title {
	@include pt-bold;
	@include font-props(36px, 130%, $dark);
}

.section-subtitle {
	@include pt-regular;
	@include font-props(20px, 160%, $dark);
}

.item-title {
	@include pt-bold;
	@include font-props(18px, 128%, $dark);
}

.item-text {
	@include pt-regular;
	@include font-props(14px, 128%, $dark);
}

.desc-text {
	@include pt-bold;
	@include font-props(16px, 130%, $dark);
}

.btn {
	@include pt-bold;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	white-space: nowrap;
}

.red-btn {
	@include font-props(20px, 130%, #fff);
	padding: 12px 56px;
	background-color: $red;
}

.yellow-btn {
	@include font-props(16px, 131%, $darkGray);
	padding: 12px 46px;
	background-color: $yellow;
}

.burger {
	width: 30px;
	height: 20px;
	border: none;
	background-color: transparent;
	position: relative;
	z-index: 110;
	&.column {
		display: none;
		justify-content: space-between;
	}
	> span {
		width: 30px;
		height: 3px;
		background-color: $dark;
		transition: $slow;
	}
	&:before, &:after {
		@include pseudo;
		min-width: 100%;
		min-height: 3px;
		background-color: $dark;
		transition: $slow;
	}
	&--active {
		> span {
			opacity: 0;
			background-color: #fff;
		}
		&:before {
			transform: translateY(8px) rotate(45deg);
			background-color: #fff;
		}
		&:after {
			transform: translateY(-8px) rotate(-45deg);
			background-color: #fff;
		}
	}
}


.nav {
	&__list {
	}
	&__list-item {
		&:not(:first-child) {
			margin-left: 22px;
		}
		&--active {
			> a {
			}
		}
	}
	&__list-item-link {
		&:hover {
		}
	}
	&__title {
	}
}

/* animation */
.animation-item {
	transition: all 0.7s ease 0s;
	opacity: 0;
}

.fade-from {
	&-top {
		transform: translateY(-120%);
	}
	&-right {
		transform: translateX(40%);
	}
	&-bottom {
		transform: translateY(100%);
	}
	&-left {
		transform: translateY(50%);
	}
}

.visible {
	transform: translate(0px, 0px);
	opacity: 1;
}

