/* fonts */
@mixin pt-regular {
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: normal;
}

@mixin pt-bold {
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: bold;
}


/* font properties */
@mixin font-props($size: false, $lh: false, $color: false) {
	@if $size {
		font-size: $size;
	}
	@if $lh {
		line-height: $lh;
	}
	@if $color {
		color: $color;
	}
}

/* flex */
@mixin flex($justify: space-between, $align: center, $direction: false, $wrap: false) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	@if $direction {
		flex-direction: $direction;
	}
	@if $wrap{
		flex-wrap: $wrap;
	}
}

/* grid */
@mixin grid($columns: false, $colgap: false, $rowgap: false, $rows: false) {
	display: grid;
	@if $columns {
		grid-template-columns: $columns;
	}
	@if $colgap {
		grid-column-gap: $colgap;
	}
	@if $rowgap {
		grid-row-gap: $rowgap;
	}
	@if $rows {
		grid-template-rows: $rows;
	}
}

/* background */
@mixin background($image: false, $repeat: no-repeat, $position: center, $size: cover) {
	@if $image {
		background-image: url($image);
	}
	background-repeat: $repeat; 
	background-position: $position;
	background-size: $size;
}

/* pseudo */
@mixin pseudo($display: inline-block, $content: '') {
	content: $content;
	display: $display;
}

/* position */
@mixin position($position: false, $top: false, $right: false, $bottom: false, $left: false) {
	@if $position {
		position: $position;
	}
	@if $top {
		top: $top;
	}
	@if $right {
		right: $right;
	}
	@if $bottom {
		bottom: $bottom;
	}
	@if $left {
		left: $left;
	}
}