@import '_fonts.scss';
@import '_normalize.scss';
@import '_variables.scss';
@import '_mixins.scss';
@import '_common.scss';
@import '_custom.scss';

html, body {
	@include pt-regular;
	overflow-x: hidden;
}

.wrapper {
	&__content {
	}
}

.header {
	background-color: $yellow;
	&__wrapper {
		padding: 6px 0;
	}
	&__inner {
		max-width: 1088px;
	}
	&__column {
		width: 74%;
	}
	&__row {
		&:first-child {
			margin-bottom: 18px;
			width: 100%;
		}
	}
	&__image-block {
		max-width: 278px;
	}
	&__caption {
	}
	&__phone {
		@include pt-bold;
		@include font-props(24px, 130%, $dark);
		text-decoration: none;
		& img {
			margin-right: 8px;
			width: 23px;
			height: 23px;
		}
	}
	&__nav {
		margin-top: 24px;
	}
	.line {
		background-color: $dark;
	}
}

.connection {
	&__wrapper {
	}
	&__slider {

	}
	&__slider-container {
	}
	&__slider-wrapper {
	}
	&__slide {
		position: relative;
		width: 100%;
		min-height: 594px;
	}
	&__slide-bg {
		@include position(absolute, 0, $left: 0);
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	&__slide-row {
		margin-top: 56px;
		&.row {
			align-items: flex-start;
		}
	}
	&__slide-column {
	}
	&__slide-desc {
		max-width: 660px;
		padding: 34px 20px 32px 74px;
		z-index: 2;
		background-color: #fff;
	}
	&__slide-title {
		margin: 0;
		color: $red;
	}
	&__slide-text {
		margin-top: 16px;
	}
	&__slide-paragraph {
		@include pt-bold;
		@include font-props(14px, 180%, #474747);
		text-shadow: 0px 0px 10px #FFFFFF;
		&:not(:first-child) {
			margin-top: 30px;
		}
	}
	&__slide-icon {
		z-index: 2;
		> img {
			width: 134px;
			height: 80px;
		}
	}
	&__slide-btn {
		margin-top: 42px;
	}
	&__slider-btns {
	}
	&__slider-btn {
	}
	button {
		z-index: 2;
	}
}

.tariffs {
	margin-top: 5.5rem;
	&__inner {
		max-width: 980px;
	}
	&__title {
	}
	&__cards {
		margin-top: 5.6875rem;
		list-style-type: none;
	}
	&__card {
		width: 100%;
		box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.32);
		&:not(:first-child) {
			margin-top: 5.125rem;
		}
		.line {
			margin-top: 36px;
		}
	}
	&__card-wrapper {
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 85px 73px 84px 78px;
		position: relative;
		text-decoration: none;
		transition: $slow;
		&:hover {
			background-color: $yellow;
		}
	}
	&__card-text {
		&.column {
			align-items: flex-start;
		}
	}
	&__card-price {
		margin-top: 12px;
		color: $lightRed;
	}
	&__card-image-block {
		@include position(absolute, -26px, 11.8%);
	}
	&__card-desc {
		margin-top: 16px;
		&.row {
			align-items: flex-start;
		}
	}
	&__card-item {
		min-width: 29%;
		max-width: 32%;
	}
	&__card-item-title {
		color: $lightRed;
	}
	&__card-item-text {
		margin-top: 12px;
		line-height: 171%;
	}
}

.achievements {
	margin-top: 5.625rem;
	&__inner {
		max-width: 984px;
	}
	&__items {
		margin-top: 3.25rem;
	}
	&__item {
		&:not(:first-child) {
			margin-left: 28px;
		}
	}
	&__item-title {
		@include flex($justify: center);
		@include background('../icons/polyhedron.svg');
		width: 134px;
		height: 141px;
		text-align: center;
	}
	&__item-text {
		margin-top: 12px;
		text-align: center;
	}
	&__line {
		margin-top: 36px;
	}
	&__grid {
		margin-top: 1.75rem;
		&.row {
			align-items: flex-start;
		}
		&-line {
			width: 1px;
			min-height: 620px;
		}
	}
	&__column {
		width: 16%;
	}
	&__grid-item {
		margin-top: 3rem;
	}
	&__grid-item-image-block {
		> img {
			width: 102px;
			height: 102px;
		}
	}
	&__grid-item-text {
		color: $gray;
	}
	&__image-block {
		@include flex;
		max-width: 334px;
		width: 100%;
		position: relative;
		> img {
			z-index: 2;
		}
		&:after {
			@include position(absolute, 5%, -75%);
			@include pseudo;
			@include background('../images/section/achievements/alpha-accountant.png');
			min-width: 434px;
			min-height: 365px;
			z-index: 1;
			opacity: 0.05;
		}
	}
	&__text {
		margin-left: -4%;
		line-height: 150%;
		> span {
			color: $blue;
		}
	}
}

.stages {
	@include background('../images/bg/trapezoid.png');
	margin-top: -6%;
	position: relative;
	z-index: 2;
	&__wrapper {
		padding: 7.125rem 0 4.5625rem;
	}
	&__inner {
	}
	&__bg {
		width: 100%;
		background-color: $yellow;
	}
	&__title {
	}
	&__items {
		margin-top: 4.375rem;
		&.row {
			align-items: flex-start;
		}
	}
	&__item {
		flex: 0 0 16.4%;
		position: relative;
		&:after {
			@include pseudo;
			@include background('../icons/dots-line.svg');
			@include position(absolute);
			width: 120px;
			height: 30px;
		}
		&:nth-child(odd) {
			&:after {
				top: -10px;
				right: -50px;
			}
		}
		&:nth-child(even) {
			&:after {
				transform: rotate(180deg);
				bottom: -50px;
				right: -60px;
			}
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
	&__item-image-block {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		background-color: #fff;
	}
	&__item-text {
		margin-top: 22px;
		@include pt-bold;
	}
	&__btn {
		margin-top: 5.25rem;
	}
}

.faq {
	position: relative;
	&:before {
		@include pseudo;
		@include background('../images/bg/question-mark.png');
		@include position(absolute, 3%, 3%);
		max-width: 500px;
		width: 100%;
		min-height: 800px;
		transform: scale(0.9);
	}
	&__wrapper {
		padding: 6.875rem 0;
		position: relative;
		z-index: 2;
	}
	&__inner {
		max-width: 980px;
	}
	&__column {
		&.column {
			align-items: flex-end;
		}
	}
	&__accordions {
		margin-top: 3.0625rem;
		list-style-type: none;
	}
	&__btn {
		margin-top: 36px;
	}
}

.partners {
	background-color: $yellow;
	&__wrapper {
		padding-top: 4.8125rem;
	}
	&__column {

	}
	&__inner {
		max-width: 1128px;
	}
	&__title {

	}
	&__slider {
		margin-top: 2.875rem;
	}
	&__slider-container {
		width: 88.5%;
	}
	&__slider-wrapper {
		@include flex($align: flex-start);
	}
	&__slide {
		@include flex($direction: column);
		min-height: 180px;
	}
	&__slide-image-block {
		@include flex($justify: center);
		max-width: 180px;
		height: 130px;
	}
	&__slide-text {
		margin-top: 22px;
		line-height: 168%;
		color: $darkGray;
	}
	&__slider-btns {
	}
	&__slider-btn {
	}
	&__image-block {
		margin: 27px 0 -4px;
		position: relative;
		&:before {
			@include pseudo;
			@include position(absolute, $bottom: -16%, $left: -5%);
			width: 252px;
			height: 252px;
			border-radius: 50%;
			background-color: #fff;
		}
	}
}

.reviews {
	margin-top: 6.9375rem;
	position: relative;
	&:before {
		@include pseudo;
		@include position(absolute, -30%, 20%);
		@include background('../icons/ok.svg');
		width: 312px;
		height: 330px;
	}
	&__inner {
		max-width: 1128px;
	}
	&__slider {
		margin-top: 38px;
	}
	&__slider-container {
	}
	&__slider-wrapper {
		height: 356px;
	}
	&__slider-btn {
		outline: none;
	}
	&__slide {
		width: 202px;
		height: 295px;
		transition: $slow;
		&:hover {
			transform: scale(1.2);
		}
	}
}

.team {
	position: relative;
	&:before {
		@include pseudo;
		@include position(absolute, 8%, $left: 24%);
		@include background('../icons/smiling-face.svg');
		width: 256px;
		height: 256px;
	}
	&__wrapper {
		padding: 10rem 0 7.0625rem;
		position: relative;
		z-index: 2;
	}
	&__inner {
		max-width: 1128px;
	}	
	&__slider {
		margin-top: 6.5rem;
	}
	&__slider-container {
		width: 87%;
	}
	&__slider-wrapper {
	}
	&__slide {
		background-color: #fff;
		border: 1px solid #c4c4c4;
		box-shadow: 0px 0px 29px rgba(0, 0, 0, 0.25);
	}
	&__slide-image-block {
	}
	&__slide-desc {
		padding: 14px 39px 30px;
	}
	&__slide-title {
		@include pt-bold;
		@include font-props(18px, 128%, $dark);
	}
	&__slide-text {
		@include pt-regular;
		@include font-props(14px, 107%, $darkGray);
		margin-top: 7px;
	}
	&__slider-btns {
	}
}

.footer {
	background-color: $yellow;
	&__wrapper {
		padding: 66px 0 29px;
	}
	&__inner {
		max-width: 1034px;
		&.column {
			align-items: flex-start;
		}
		> .row {
			width: 100%;
			&:first-child {
				justify-content: flex-start;
			}
		}
	}
	&__row {
		margin-top: 5.8125rem;
	}
	&__image-block {
		max-width: 250px;
	}
	&__socials {
	}
	&__social {
		&:not(:first-child) {
			margin-left: 22px;
		}
	}
	&__nav {
		margin-left: 38px;
	}
	&__list {
		&.column {
			align-items: flex-start;
		}
	}
	&__list-item {
		&:not(:first-child) {
			margin: 19px 0 0;
		}
	}
	&__list-item-link {
		@include pt-bold;
		@include font-props(16px, 131%, $dark);
	}
	&__map {
		margin-left: auto;
		> iframe {
			width: 480px;
			height: 176px;
		}
	}
	&__paragraph {
		color: $gray;
		text-decoration: none;
	}
	&__link {
		margin: 2.3125rem auto 0;
		@include pt-bold;
		color: $red;
		text-decoration: none;
	}
}

@import '_media.scss';